body {
    background-color: black;
    color: orange;
    text-align: center;
}

h1 {
    font-size: 60px;
}

strong {
    color: beige;
}

#dialogue {
    text-align: center;
    color: beige;
    font-size: 30px;
    line-height: 0px;
    margin-top: 20px;
}

#wins-losses {
    float: left;
    width: 40%;
    font-size: 20px;
    padding-top: 20px;
}

button {
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-color: black;
    border: none;
    margin: 20px;
}

#match-number, #guess-number {
    float: left;
    width: 30%;
}

#user-e, #univ-e {
    font-size: 60px;
    line-height: 0px;
}